body{
    background-color: rgb(2, 2, 2, 0.8);
}

#image{
    max-width: 30%;
    margin-right: 30%;
    align-content: center;
    margin-left: 35%;
    
}
#img-div{
    background-color: white;
}
#main{

    background-color: rgb(206, 205, 205,0.9);
}
#title{
    font-size:xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    text-align: center;
}
#img-caption{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 2%;
    font-size: larger;
}
#tribute-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 15%;
    padding-right: 15%;
}
li{
    margin: 3%;
}